@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans Mono', monospace;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
}

svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.form-bg{
    background-color: #FFDEB4;
    padding-top: 8rem;
    height: 100vh;
}

.form-signin-bg{
    padding-top: 20rem;
}

form{
    color: #fff;
    gap: 1.5rem;
    width: 30rem;
    display: flex;
    padding: 2rem;
    text-align: start;
    margin: 0 auto;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 7px 7px 4px #B2A4FF;
    background-color: #999;
}

form h2{
    color: #FFB4B4;
    text-align: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.none {
    display: none;
}

.block{
    display: block !important;
}

.backdrop{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #999;
    opacity: 0.5;
}

.flex-col label {
    margin-bottom: 0.3rem;
}

option,
select {
    color: #999;
}

.flex-col input,
.flex-col select,
.edit-profile input,
.edit-profile select,
nav input {
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fff;
}

form p{
    text-align: center;
}

form a{
    color: #B2A4FF;
}

form a:hover{
    color: #FFB4B4;
    text-shadow: 4px 4px 3px #FFB4B4;
}

.nav{
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background-color: #999;
    color: #fff;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.feather-user{
    cursor: pointer;
    margin: 0 2rem;
}

.main{
    gap: 2rem;
    margin-top: 6rem;
}

.left-section,
.right-section{
    height: 90vh;
    width: 50%;
    padding: 2rem;
    overflow-y: scroll;
}
.right-section{
    padding: 0rem;
}

.user-feed{
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
}

.user-feed img{
    width: 8rem;
    border-radius: 50%;
}

.edit-profile-bg{
    display: flex;
    justify-content: center;
}

.edit-profile-nav{
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.edit-profile-nav p,
.edit-profile-nav svg{
    cursor: pointer;
    padding: 0.2rem 1.2rem;
    border: 1px solid #fff;
    border-radius: 10px;
}

.edit-profile-nav svg{
    padding: 0.2rem;
}

.edit-profile-nav p:hover,
.edit-profile-nav svg:hover {
    background-color: #fff;
    color: #999;
    transition: 0.7s;
}

.save-close-btn{
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.edit-profile{
    z-index: 2;
    color: white;
    position: absolute;
    padding: 2rem 0;
    width: 40%;
    left: 28%;
    justify-self: center;
    top: 15rem;
    background-color: #999;
    text-align: center;
    border-radius: 10px;
}

.edit-profile img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1.5rem;
}

.feather-image{
    position: absolute;
    left: 48.5%;
    top: 130px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #999;
}

#file-input{
    display: none;
}

.edit-profile textarea{
    border-radius: 5px;
    border: none;
    width: 90%;
    padding: 1rem;
    outline: none;
}

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #72da67;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #999;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: #dfdedf;
}
input:checked + .switch::before {
    left: 27px;
    background: #fff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.age-name,
.interested-visible{
    width: 100%;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #999; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.favorite{
    text-align: center;
    margin: 8rem 20rem;
    margin-bottom: 2rem;
}

.favorite-nav{
    position: fixed;
    width: 100vw;
    top: 0;
}

.favorite-nav h1{
    margin: 0 auto;
    font-size: 2rem;
}

.favorite-nav a{
    color: #fff;
}

.back{
    align-items: center;
    gap: 0.5rem;
}

.search{
    align-items: center;
    margin-left: 10rem;
    margin-right: 5rem;
}

.nav input{
    margin: 2rem;
}

.nav .flex-row{
    align-items: center;
}

@media (max-width: 1600px) {
    html{
        font-size: 75%;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 1400px) {
    html{
        font-size: 62.5%;
    }
}

@media (max-width: 1000px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 800px) {
    .main{
        flex-direction: column;
    }

    .left-section,
    .right-section{
        height: 100vh;
        width: 100%;
    }

    .favorite{
        margin: 8rem 3rem;
    }
}

