@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans Mono', monospace;
}

a,
input{
    text-decoration: none;
}

.form-bg{
    background-color: #FFDEB4;
    padding-top: 8rem;
    height: 100vh;
}

.form-signin-bg{
    padding-top: 20rem;
}

form{
    color: #fff;
    gap: 1.5rem;
    width: 30rem;
    display: flex;
    padding: 2rem;
    text-align: start;
    margin: 0 auto;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 7px 7px 4px #B2A4FF;
    background-color: #999;
}

form h2{
    color: #FFB4B4;
    text-align: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col label {
    margin-bottom: 0.3rem;
}

.flex-col input,
.flex-col select,
.edit-profile input {
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fff;
}

form p{
    text-align: center;
}

form a{
    color: #B2A4FF;
}

form a:hover{
    color: #FFB4B4;
    text-shadow: 4px 4px 3px #FFB4B4;
}

.nav{
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    background-color: #999;
    color: #fff;
    height: 10vh;
}

.feather-user{
    cursor: pointer;
    margin-right: 2rem;
}

.main{
    gap: 2rem;
}

.left-section,
.right-section{
    height: 90vh;
    width: 50%;
    padding: 2rem;
    border: 1px solid #999;
    overflow-y: scroll;
}

.user-feed{
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
}

.user-feed img{
    width: 8rem;
    border-radius: 50%;
}

.edit-profile-bg{
    display: flex;
    justify-content: center;
}

.edit-profile{
    color: white;
    position: absolute;
    padding: 1rem;
    width: 40%;
    height: 50vh;
    top: 10rem;
    background-color: #999;
    text-align: center;
    border-radius: 10px;
}

.edit-profile  img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1.5rem;
}

.feather-image{
    position: absolute;
    left: 48.5%;
    top: 110px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #999;
}

#file-input{
    display: none;
}

.edit-profile textarea{
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    outline: none;
}